html {
    font-size: 100%;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
 }

 #loginP{
   margin-top: 10rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
 }

 li {
  list-style: none;
}
ul{
  padding-left: 0;
}
ul li:hover {
  cursor: pointer;
  color: palevioletred;
}
h6:hover {
  cursor: pointer;
  color: palevioletred;
}